body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./assets/4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    /* height: 90vh; */
    font-family: 'Roboto', sans-serif;
}
a,a:hover{
    text-decoration: none !important;
    color: #fff !important;
}

.form-2-wrapper {
    background: #9d00ff29;
    padding: 50px;
    border-radius: 8px;
    margin-top: 5rem;
}
input.form-control{
    padding: 11px;
    border: none;
    border: 2px solid #405c7cb8;
    border-radius: 30px;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
   
   
}
input.form-control:focus{
    box-shadow: none !important;
    outline: 0px !important;
    background-color: transparent;
}
button.login-btn{
    background: #b400ff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 30px;
}
.register-test a{
    color: #000;
}
.social-login button{
    border-radius: 30px;
}
.error-display{
    background-color: #eb2d2de0;
    border-radius: 2px;
}
.center-div{
    width: 100%;
    height: 100vh;
    background-color: #b300ff77;
    display: flex;
    justify-content:center;
    align-items: center;
}
.dashbord
{
    width: 100%;
    height: 100vh;

    background-image: linear-gradient(to right,#cb78eea6,#cc8be7cb,#bc53e9a6,#bd4beecb);
}
.logout-div{
    background-color: rgba(255, 255, 255, 0.137);
    text-align: center;
    padding: 2rem;
    color: #fff;
}
.nametag{
    color: #690394;
}
.logout-btn{
    background-image: linear-gradient(to right,#9931c5a6,#982ac7);
    color: #fff;
    padding: 0.5rem 1.3rem;
    border: 1px solid #bfbcbc;
    border-radius: 8px;
    transition: all ease 0.5s;
}
.logout-btn:hover{
    transform: scale(1.1);
}
.dashbord .container-fluid{
    padding: 0 !important ; 
    margin: 0 !important;
}